services:
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=aiclub_data
      - POSTGRES_USER=aiclub_user
      - POSTGRES_PASSWORD=securepassword
    ports:
      - "5432:5432"

  web:
    build: .
    env_file:
      - .env
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    expose:
      - "8000"
    depends_on:
      - db
    environment:
      - POSTGRES_DB=aiclub_data
      - POSTGRES_USER=aiclub_user
      - POSTGRES_PASSWORD=12345678
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432


  nginx:
    image: nginx:latest
    container_name: nginx_server
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - gobus_static_volume:/app/staticfiles
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    entrypoint: >
      /bin/sh -c "trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;"  

volumes:
  postgres_data:
  static_volume: